@import url("../base.css");

.titulo{
	display: flex;
	margin: 3em auto 0 auto;
	justify-content: center;
	
    width: 40%;
    max-width: 44em;
    
    padding:1.5em 1em;

    background-color: var(--cor-terciaria);

    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #291d16;

    font-weight: 700;
    font-size: 1.5em;
    color: var(--cor-principal);

    /* border: 3px solid orange; */
}
.formulario {
	display: flex;
    flex-direction: column;
	margin: 0 auto 3em auto;
	justify-content: center;
	
	width: 40%;
    max-width: 66em;
    
    padding:1.5em;
    
    color: var(--cor-branca);
    background-color: var(--cor-secundaria);
    
    border-radius: 0 0 10px 10px;

    /* border: 2px solid white; */
}


.container-nome-e-data{
	display: flex;
    width: 100%;
    
    color: white;
    
    /* border: 2px solid purple; */

    .texto{
        width: 100%;
        margin: 0 1em 0 0.8em;
        font-size: 16px;
    }
}


.container-input {
    display: flex;
    width: 100%;

    /* border: 3px solid green; */
    
    .form-input {
        display: flex;
        
        width: 100%;
        margin: 0.5em 1em 0 1em;

        padding: 0.7em;
        
        border: 1px solid #291d16;
        border-radius: 5px;
        
        /* border: 2px solid blue; */
    }
}


.container-erro {
    display: flex;
    width: 100%;

    /*border: 3px solid red;*/
    
    .container-erro-div{
		display: flex;
		width: 50%;
		
		/*border: 3px solid white;*/
	}

    .form-label {
        color: red;
        word-wrap: break-word;
        padding: 0 1em;
        
        width: 100%;
        
        /*border: 3px solid blue;*/
    }
}


/* botao enviar */
.botao-enviar {
    display: flex;
    justify-content: center;
    width:50%;
    margin: 2em auto 0.5em auto;
    text-align: center;
    
    border: none;
    padding: 10px;
    border-radius: 10px;
    
    background-color: var(--cor-terciaria);
    color:var(--cor-principal);
    
    font-size: 16px;
    font-weight: 700;
    
    cursor: pointer;

    /* border: 3px solid blue; */
}
.botao-enviar:hover {
    background-color: var(--cor-branca);
}
