@import url("../base.css");

body{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 52em;
    
    padding: 3em;
    /*height: 10%;*/
    background: var(--cor-terciaria);
    border-radius: 8px 8px 0 0;
    border: 1px solid var(--cor-principal);

    .titulo-cadastro{
        color: var(--cor-principal);
        font-weight: 700;
        font-size: 2em;
    }
}

.formulario {
    width: 40%;
    max-width: 52em;
    
    background: var(--cor-secundaria);
    padding: 4em;
    border-radius: 0 0 8px 8px;

    /* border: 1px solid red; */
}


.form-group{
    margin: 1em 0;
    
    /* border: 2px solid white; */

    .form-label {
        display: block;
        margin-bottom: 0.5em;
        margin-top:0.5em;
        font-weight: bold;
        color:var(--cor-terciaria);
    
        /* border:1px solid blue; */
    }
    .form-input {
        width: 100%;
        padding: 0.63em;
    
        margin-bottom: 0.5em;
        
        border: 0.06em;
        border-radius: 0.31em;
        
        /* border: 1px solid red; */
    }
    .mensagem-erro{
        color: red;
    }
}


.form-submit {
    width: 100%;
    padding: 1em;
    background-color: var(--cor-terciaria);
    color: var(--cor-principal);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:1em 0 1em 0;
    font-weight: bold;
    font-size: 1.15em;

    /* border: 3px solid black; */
}
.form-submit:hover {
    background: var(--cor-branca);
    
}


/* link cadastro de novo usuário */
.novo-usuario {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--cor-quaternaria);
    font-weight: bold;
    
    margin-top: 1.25em;

    /* border: 3px solid red; */
}
.novo-usuario:hover {
    text-decoration: underline;
}


