# Arquivos e diretórios do Eclipse
.classpath
.factorypath
.project
.settings/
df

# Diretório de construção Maven
target/

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos de compilação Java
*.class

# Maven
log/
target/
.idea/
build/
