<!DOCTYPE html>
<html>
<head>
	<title>Erro 404</title>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/reset.css">
	<link rel="stylesheet" href="styles/base.css">
	<link rel="stylesheet" href="styles/error.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="erro-container">
    	<div class="erro-404">
        	<h1 class="titulo">404</h1>
			<i class="fa-solid fa-face-frown"></i>
    	</div>
        <p class="mensagem-erro">Erro 404, página não encontrada.</p>
    </div>
    <footer>
    </footer>
</body>
</html>