@charset "UTF-8";

:root {
    --cor-principal:#1A120B;
    --cor-secundaria:#3C2A21;
    --cor-terciaria:#D5CEA3;
    --cor-quaternaria:#E5E5CB;
    --cor-quinternaria:#e9e9e9CB;
    --cor-branca:#F4F4F4F4;

    --fonte-principal: Arial, sans-serif;
}


*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    
    color: var(--cor-branca);
    font-family: var(--fonte-principal);
}

body {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;

	background-color: var(--cor-principal); 
}

a {
    text-decoration: none;
    color: var(--cor-branca);
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: var(--cor-quinternaria);
}

::placeholder{
    font: var(--fonte-principal);
    font-weight: 500;
}

footer{
	margin:2em;
}

span{
    font-family: var(--fonte-principal);
    font-weight: 700;
}

input{
    background-color: var(--cor-quinternaria);
}
input:focus{
    background-color: var(--cor-branca);
    outline: 1px solid white;
    outline-style: solid;
}


