@import url("base.css");

.cabecalho {
	background-color: var(--cor-secundaria);
	padding: 1em;
    display: flex;
    align-items: center;
	justify-content: space-between;
	
	.container{
		display: flex;
		gap: 2em;
	}
}


/* --- modal --- */
.modal {
	color: var(--cor-principal);
	
	position: absolute;
	right: 1%;
	
	width: 15%;
	max-width: 18,5em;
	
	top: 0;
	padding-top: 4.5em;
	
	z-index: 1000;
	
}

.usuario{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	text-align: center;
	
	background-color: var(--cor-quaternaria);
	
	padding: 1em;
	
	border-radius: 10px;
	
	.usuario-logado{
		border-bottom: 2px solid var(--cor-principal);
		margin-bottom: 1em;
		
		font-size: 2em;
		font-weight: 700;

		border-bottom: 1px solid var(--cor-principal);
		padding: 0.5;
		margin-bottom: 0.5em;
		border-bottom: 2px solid var(--cor-principal);
	}
	
	.botao-logout {
		width: 40%;
		margin:auto;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		padding: 0.1em 1em;

		color: var(--cor-principal);
		
		text-align: center;
	}
}

.botao-logout {
  /* Estilo padrão */
	text-decoration: none;
	color: black;
	border-radius: 10px;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.botao-logout:hover {
	/* Estilo no hover */
	color: var(--cor-branca);
	background-color: var(--cor-principal);
	text-decoration: none;
}