@import url("base.css");


.container-titulo {
	width: 70%;

	display: flex;
	margin: 2em auto 0 auto;
	
	justify-content: space-between;
	align-items: center;
	
	padding: 2em 1em 2em 1em;
	
	
	border: 2px solid var(--cor-terciaria);
	border-bottom: none;
	border-radius:10px 10px 0 0;
	
	background-color: var(--cor-terciaria);
	
	
	.titulo{
		display: flex;
		align-items: center;
		
		font-size: 2em;
		font-weight: 700;
		color: var(--cor-secundaria);
		
	}
	.add {
		font-size: 2em;
		padding: 0.2em;
		font-weight:700;
		text-decoration: none;
		
		background-color: var(--cor-secundaria);
		border-radius: 100%;
		
	}
	.add:hover {
		color: var(--cor-principal);
		background-color: var(--cor-branca);
	}
}


.container-empresas {
	width: 70%;

	display: flex;
	flex-direction: column;
	
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	
	padding: 2em 1em;
	
	background-color: #3C2A21;
	
	border: 2px solid #4D3A2C;
	border-radius:0 0 10px 10px;
	
	.colunas {
		display: flex;
	    align-items: center;
	    
		
		width: 100%;
		
		font-weight: 600;
		
		padding: 0.5em;
		color: var(--cor-branca);
		border-radius: 10px;
		
		
		.coluna-nome-data{
			width: 100%;
			
			display: flex;
			align-items: center;
			
			justify-content: space-between;
			
			
			.coluna-nome {
				width: 75%;
				
				display: flex;
				align-items: center;
				
				justify-content: space-between;
			}
			.coluna-data {
				width: 11em;
				
				text-align: center;
				
			}
		}
		.void{
			display: flex;
			padding: 0.8em 4.18em;
			background-color: var(--cor-secundaria);
		}

		.arquivados {
			width: 10em;
			
			display: flex;
			align-items: center;
			justify-content: center;
			
			background-color: none;
			background: none;
			
			border: none;
			border-radius: 10px;
			
			color: var(--cor-branca);
			
			.texto-arquivados {
				font: var(--cor-principal);
				font-weight: 700;
				
			}
			.icone-arquivados {
				display: flex;
				align-items: center;
			}
		}
		.arquivados:hover {
			background-color: var(--cor-branca);
			color: var(--cor-principal);
		}
	}
	
	.lista {
		display: flex;
	    align-items: center;
		
		width: 100%;
		
		font-weight: 600;
		
		padding: 0.5em;
		background-color: var(--cor-terciaria);
		color: var(--cor-principal);
		border-radius: 10px;
		
		margin-bottom:1em;
		
		.lista-nome-data{
			width: 100%;
			
			display: flex;
			align-items: center;
			
			justify-content: space-between;
			
			.lista-nome {
				width: 75%;
				
				margin-left:0.25em;
			}
			.lista-data {
				width: 15em;
				text-align: center;
				
			}
		}

		.container-edita-arquiva{
			width: 14em;
			
			display: flex;
			
			color: var(--cor-principal);
			
			.editar {
				text-decoration: none;
				color: var(--cor-principal);
				
				display: flex;
				align-items: center;
				
				.texto-editar {
					margin-right: 0.25em;
				}
			}
			.container-arquiva {
				width:10em;
				
				text-align: right;
				text-decoration: none;
				color: var(--cor-principal);
				
				display: flex;
				align-items: center;
				margin-left: 0.5em;
				
				.texto-arquiva {
					margin-left: auto;
					margin-right: 0.25em;
				}
				.icone-arquiva{
					margin-right: 0.25em;
				}
			}
			.edita:hover, .arquivar:hover {
				color: var(--cor-branca);
			}
		}
	}
}