@import url("base.css");

.container-titulo{
	display: flex;
	padding: 2em 1em 2em 1em;
	margin: 2em auto 0 auto;
	max-width:70%;
	align-items: center;
	justify-content: space-between;

	background-color: var(--cor-terciaria);
	
	border-radius: 10px 10px 0 0;
	border-bottom: 1px solid  var(--cor-principal);
	
	color: var(--cor-principal);

	/*border: 3px solid red;*/
	.titulo{
		font-weight: 700;
		font-size: 2em;
	}
}


.colunas-container{
	display: flex;

/*	border:3px solid blue;*/

	.coluna-nome, .coluna-data-lista-empresas, .coluna-data-minhas-empresas {
		font-size: 1.25em;
		width: 100%;
	}
	.coluna-nome {
		margin-left: 1em;
		
		/*border: 3px solid yellow;*/
	}
	.coluna-data-lista-empresas {
		text-align: right;
		margin-right: 2.5em;
		
		/*border: 3px solid red;*/
	}
	.coluna-data-minhas-empresas {
		margin-right: 18.3em;
	}
}


.container-empresas {
	display: flex;
	padding: 2em;
	margin: 0 auto;
	max-width: 70%;
	flex-direction: column;

	gap: 1em;

	background-color: var(--cor-secundaria);
	border-radius: 0 0 10px 10px;

	/*border: 3px solid white; */

	.lista {
		display: flex;
		padding: 0em 1em 0em 1em;
	
		background-color: var(--cor-terciaria);
		color: var(--cor-principal);
	
		border-radius: 10px;
	
		/* border: 3px solid blue; */

		.lista-nome {
			display: flex;
			align-items: center;
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-word;
			
			font-size: 1.25em;
			font-weight: bold;
			/* border: 3px solid yellow; */
		}
		.lista-data {
			display: flex;
			font-size: 1.25em;
			
			margin: 1em 0 1em 1em;
			/* border: 3px solid red; */
		}
	}
}
